* {
  margin: 0;
  padding: 0;
}

.bgcolor {
  height: 100vh;
  background-color: darkblue;
}

.submit-btn {
  background-color: darkblue;
  border: 0;
  padding: 10px 60px;
  color: white;
  border-radius: 5px;
}